*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  line-height: 27px;
  font-weight: 300;
  color: #2c2b2b;
  font-family: 'Oswald', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;

}


.header {
  background-image: url(../images/header-bg-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  min-height: 700px;
  color: #fff;
}

.header__top {
  padding: 47px 0 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.phone {
  font-size: 36px;
  line-height: 53px;
  font-weight: 400;
}

.header__content {
  padding-top: 60px;
  position: relative;
}

.header__title {
  font-weight: 400;
  font-size: 72px;
  line-height: 107px;
  text-transform: uppercase;
}

.header__subtitle {
  font-weight: 400;
  font-size: 36px;
  line-height: 53px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.header__text {
  margin-bottom: 30px;
  max-width: 800px;
}

.button {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  padding: 14px 54px 15px;
  background-color: #5A0D67;
  transition: all .5s;
}

.button:hover {
  background-color: #fff;
  color: #5A0D67;
}

.header__social {
  padding: 70px 0 20px 66px;
}

.social {
  display: flex;
  align-items: center;
}

.social__link {
  font-size: 12px;
  margin: 0 5px;
}

.social__img {
  height: 20px;
}

.header__images {
  position: absolute;
  bottom: -270px;
  right: 0;
}

.services {
  padding-top: 350px;

}

.title {
  color: #21062A;
  font-size: 36px;
  line-height: 54px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 50px;
  position: relative;
}

.title:after {
  content: "";
  width: 80px;
  height: 3px;
  background-color: #21062a;
  position: absolute;
  top: 25px;
  margin-left: 20px;
}

.services__inner {
  display: flex;
  margin-bottom: 100px;
}

.services__content {
  width: 505px;
  margin-right: 96px;
}

.services__content-title {
  color: #5a0d67;
  font-size: 18px;
  line-height: 27px;
  font-weight: 300;
  margin-bottom: 12px;
}

.services__content-textbox {
  margin-bottom: 57px;
}

.services__content-text {
  margin-bottom: 12px;
}

.button--decor {
  color: #fff;
  margin-top: -7px;
  position: relative;
}

.button--decor::after {
  content: "ЖМИ";
  position: absolute;
  margin-left: 130px;
  color: #c4c4c4;

}

.button--decor::before {
  content: "";
  position: absolute;
  right: -70px;
  height: 2px;
  width: 80px;
  background-color: #c4c4c4;
  top: 25px;

}

.services__list {
  list-style: none;
  counter-reset: my-counter;
}

.services__item {
  counter-increment: my-counter;
  border: solid 1px #c4c4c4;
  margin-bottom: 12px;
  width: 450px;
  padding: 10px 15px 10px 113px;
  position: relative;
  transition: all .5s;
}

.services__item:before {
  content: "0"counter(my-counter);
  position: absolute;
  left: 20px;
  font-size: 36px;
  line-height: 54px;
  font-weight: 400;
  color: #c4c4c4;
  transform: rotate(-90deg);
}

.services__item:hover {
  border: 2px solid #5A0D67;
  width: 500px;
}

.services__item:hover .services__item-title {
  color: #5A0D67;
}

.services__item:hover::before {
  color: #5A0D67;
}

.services__item-title {
  font-size: 24px;
  font-weight: 300;
}

.reason {
  padding-bottom: 100px;
}

.title--decor {
  text-align: left;
  margin-left: 600px;
}

.reason__inner {
  display: flex;
}

.reason__inner-img {
  position: relative;
  width: 320px;
  height: 606px;
  margin-right: 95px;
  top: -100px;
}

.reason__img {
  position: absolute;
}

.reason__content {
  background-color: #21062A;
  width: 785px;
  height: 507px;
  padding: 23px 0 25px 185px;
}

.reason__content-box {
  width: 316px;

}

.reason__box-item {
  color: #fff;
  margin-bottom: 20px;
}

.reason__item-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 53px;
  text-transform: uppercase;
}

.reason__item-subtitle {
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
}

.reason__item-text {
  color: #c4c4c4;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
}

.carousel {
  margin-bottom: 100px;
}

.carousel__item {
  margin: 0 7px;
}

.carousel__item-box {
  border: 1px solid #c4c4c4;
  padding: 6px 6px 16px 6px;
  text-align: center;
  transition: all .5s;
}

.carousel__item-box:hover {
  background-color: #5A0D67;
  border-color: #5A0D67;
  color: #fff;
}

.carousel__item-img {
  max-width: 100%;
  margin-bottom: 23px;
}

.carousel__item-title {
  font-weight: 300;
  margin-bottom: 5px;
}

.carousel .slick-dots {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  list-style: none;
}


.carousel .slick-dots li button {
  font-size: 0;
  border: none;
  padding: 0;
  margin: 0 10px;
  width: 50px;
  height: 1px;
  background-color: #c4c4c4;
  cursor: pointer;
}

.carousel li.slick-active button {
  background-color: #5A0D67;
  width: 50px;
  height: 3px;
}

.contacts {
  margin: 50px 0 57px;
}

.contacts__inner {
  display: flex;
  justify-content: space-between;

}

.contacts__info {
  /* width: 50%; */
}

.title {}

.contacts__list {
  list-style: none;
}

.contacts__item {
  margin-bottom: 20px;
}

.contacts__item-title {
  color: #5A0D67;
}

.contacts__form {

  background: #21062A;
  padding: 50px 75px 57px;
  text-align: center;
}

.contacts__title {
  color: #fff;
  margin-bottom: 16px;
  margin-left: 53px;
  text-align: left;

}

.contacts__title:after {
  background-color: #fff;
}

.contacts__input {
  background-color: transparent;
  width: 450px;
  height: 75px;
  color: #fff;
  border: 1px solid #fff;
  margin-bottom: 12px;
  display: block;
  padding: 0 15px;
  font-size: 24px;
  text-align: center;
}

.contacts__input::placeholder {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  color: #C4C4C4;
}

.contacts__btn {
  font-family: 'Oswald', sans-serif;
  border: none;
  color: #fff;
  margin-top: 78px;
  cursor: pointer;
}

.footer {
  background-color: #21062a;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  height: 100px;
}

.footer__copy {
  color: #fff
}

@media(max-width: 1140px) {
  .services__item:hover {
    width: 450px;
  }
}

@media(max-width: 1025px) {
  .header__images {
    width: 80%;
  }

  .services {
    padding-top: 220px;
  }
}


@media(max-width: 900px) {
  .phone {
    font-size: 24px;
    line-height: 36px;
  }

  .header__title {
    font-size: 54px;
    line-height: 72px;
  }

  .header__subtitle {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 20px;
  }

  .header__text {
    font-size: 16px;
    line-height: 27px;
  }

  .header__social {
    padding: 30px 0 20px 53px;
  }

  .services {
    padding-top: 120px;
  }

  .services__inner {
    flex-direction: column-reverse;
    align-items: center;
  }

  .services__content {
    width: 90%;
    margin: 0 85px;
  }

  .services__list {
    margin-bottom: 30px;
  }

  .services__item {
    width: 100%;
  }
}

@media(max-width: 600px) {
  body {
    font-size: 16px;
    line-height: 22px;
  }

  .header__content {
    padding: 0;
    text-align: center;
  }

  .header__social {
    padding: 30px 0 20px 0px;
  }

  .social {
    justify-content: center;
  }

  .title {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 30px;
    text-align: center;
  }

  .title::after {
    display: none;

  }

  .services__content {
    text-align: center;
  }

  .services__item:before {
    top: 5px;
  }
}





@media(max-width: 520px) {
  .header__top {
    flex-direction: column;
    padding: 22px 0 23px;
  }

  .header__images {
    width: 80%;
  }

  .header__images {
    /* bottom: -220px; */
    /* right: 50px; */
    position: static;
  }

  .services {
    padding-top: 20px;
  }

  .services__item {
    padding-left: 60px;
  }

  .services__item:before {
    left: 11px;
  }

  .button--decor::before {
    right: -50px;
  }

  .button--decor::after {
    margin-bottom: 110px;
  }
}



@media(max-width: 414px) {
  .button--decor::before {
    display: none;
  }

  .button--decor::after {
    display: none;
  }

}





@media(max-width: 340px) {
  .header__title {
    font-size: 48px;
    line-height: 52px;
  }
}